!!!
%html
%head
  %title Murof
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  %link{ rel: "stylesheet", href: "http://fonts.googleapis.com/css?family=Lato:300,400,700", type: "text/css"}
  %link{:rel => "stylesheet", :href => "http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css"}/
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
%body
  %header.main_header.clearfix
    .wrapper
      #logo
        %p= link_to "Murof", root_path
      #buttons
        - if user_signed_in?
          = link_to "New Post", new_post_path
          = link_to "Sign out", destroy_user_session_path, method: :delete
        - else
          = link_to "Sign Up", new_user_registration_path
          = link_to "Sign In", new_user_session_path

  .wrapper
    %p.notice= notice
    %p.alert= alert

  .wrapper
    = yield
